input{
  background-color: #008080;
  font-size: 25px;

}
body{
  padding: 5;
  margin: 5;
  background-position: center;
  background-size: auto;
  background-image: url(https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
  background-color: #C0C0C0;
}
h1{
  color: #00FFFF;
}
p{
  color: white;
}
strong{
  color: white;
}
h3{
  color: white;
}
